<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dev2gether - Index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!--    <link rel="stylesheet" th:href="@{css/formatting.css}"/>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>

    <style>
        .dark-heading{
            color: rgba(0, 0, 0, 0.8);
        }
        .courier{
            font-family: 'Courier New', Courier, monospace;
            color: rgba(0, 0, 0, 0.7);
        }
        hr {
            margin: 1rem 0;
            color: purple;
            background-color: purple;
            border: 0;
            opacity: 1;
            height: 20px;
        }
        #indexImg {
            border-radius: 200px;
            border: 10px solid black;
            background-color: black;
        }
        #bottomHalf {
            background-color: rgba(0, 0, 0, 0.5);;
        }
    </style>

</head>


<body  th:style="'background: url(/images/blueline.png); height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;'">

<header th:replace="layouts:: header"></header>
<nav th:replace="layouts:: nav"></nav>

<!--MAIN BULK-->
<div class="container">
    <div class="col-12 container ms-5 me-5 justify-content-center row my-5">
        <div class="col-12 col-md-6">
            <h2 class="courier p-2 ms-3">Write Code</h2>
            <h2 class="courier p-2 ms-3">Make Connections</h2>
            <h2 class="courier p-2 ms-3">Share Knowledge</h2>
            <h1 class="display-2 text-info fw-bolder ms-3">Develop Together</h1>

            <form method="get" action="signup.html" class="row  mt-5">
                <div class="pb-3 col-8">
                    <input type="email" class="form-control" id="SignUpSmall" placeholder="Enter your email to sign up">
                </div>
                <div class="pb-3 col-4">
                    <button type="submit" class="btn btn-success col-8">Sign Up</button>
                </div>

            </form>
        </div>
        <div class="col-6 ps-3 justify-content-center d-none d-md-block">
            <img th:src="@{images/index1.png}" id="indexImg" class="mt-3 ms-5" alt="code" width="600" height="350">
        </div>
    </div>
</div>

<div id="bottomHalf" class="">
    <hr class="">
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="row col-12 text-center m-2 col-md-4">
                <!-- <h3 class="text-decoration-underline text-white">Cards</h3> -->
                <div class="rounded bg-opacity-75 bg-light text-center">
                    <h5 class="pt-2 pb-2 text-primary">What Others Think<br> of Dev2gether.com</h5>
                    <div class="row col-12">
                        <div class="row col-4 ms-3">
                            <img th:src="@{images/girl.png}" class="rounded-circle" alt="code" width="25" height="75">
                        </div>
                        <div class="row col-8">
<!--                            <h6 class="text-danger fw-bold">Ashley Jackson</h6>-->
                            <p>"I work at Google now thanks to Dev2gether!"</p>
                            <footer class="blockquote-footer text-danger">Ashley Jackson</footer>
                        </div>
                    </div>
                    <div class="row col-12">
                        <div class="row col-4 ms-3">
                            <img th:src="@{images/boy.png}" class="rounded-circle" alt="code" width="25" height="75">
                        </div>
                        <div class="row col-8">
<!--                            <h6 class="text-danger fw-bold">Michael James</h6>-->
                            <p>"Dev2gether.com has forever changed my life as a programmer."</p>
                            <footer class="blockquote-footer text-danger">Michael James</footer>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row col-12 text-center m-2 col-md-4">
                <div class="rounded bg-opacity-75 bg-light text-center">
                    <h5 class="pt-2 pb-2 text-primary">Current Projects</h5>
                    <div class="container m-2 border-opacity-25">
                        <table th:replace="layouts:: projectTable"></table>
                    </div>
                </div>
            </div>

            <div class="row col-12 text-center m-2 col-md-4 mb-5">
                <div class="rounded bg-light text-center bg-opacity-75">
                    <h5 class="pt-2 pb-2 text-primary">Project Status Chart</h5>
                    <canvas id="myChart" height="50" width="50"></canvas>
                    <script>
                        var chartData = "[[${projectStatusCount_CHART_DATA}]]";
                    </script>
                </div>
            </div>

        </div>
    </div>
    <!--JAVASCRIPT-->
    <script type="text/javascript" th:src="@{js/pieChart.js}"></script>
    <!--JAVASCRIPT-->
</div>
<!--MAIN BULK-->




</body>
</html>