<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<!--<head th:fragment = "head">-->
<!--    &lt;!&ndash; Required meta tags &ndash;&gt;-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->

<!--&lt;!&ndash;    <link rel="stylesheet" th:href="@{css/formatting.css}"/>&ndash;&gt;-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>-->

<!--    <title th:text="${versionNumber}"></title>-->
<!--</head>-->

<!-- HEADER -->
<header th:fragment = "header"
        class="py-3 border-bottom bg-dark">
    <div class="container d-flex flex-wrap justify-content-center">
        <a th:href="@{/}" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="index.html"></use></svg>
            <span class="fs-4 text-center fw-bolder text-white">Dev2gether.com</span>
        </a>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
    </div>
</header>
<!-- HEADER -->
    <nav th:fragment = "nav"
         class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item"><a th:href="@{/}" class="nav-link link-dark px-2 active text-primary" aria-current="page">Home</a></li>
            <li class="nav-item"><a th:href="@{/about}" class="nav-link px-2 text-info">About</a></li>
            <li class="nav-item"><a th:href="@{/projects}" class="nav-link px-2 text-info">Projects</a></li>
            <li class="nav-item"><a th:href="@{/how}" class="nav-link px-2 text-danger">How to Dev2gether</a></li>
        </ul>

        <ul class="nav">
            <li sec:authorize="!isAuthenticated()" class="nav-item"><a th:href="@{/login}" class="nav-link link-dark px-2">Login</a></li>
            <li sec:authorize="!isAuthenticated()" class="nav-item"><a th:href="@{/register}" class="nav-link link-dark px-2">Sign up</a></li>
            <li sec:authorize="isAuthenticated()" class="nav-item"><a th:href="@{/dashboard}" class="nav-link link-dark px-2">Dashboard</a></li>
            <li sec:authorize="isAuthenticated()" class="nav-item"><a th:href="@{/logout}" class="nav-link link-dark px-2">Log out</a></li>
        </ul>
    </div>
</nav>
<!-- NAV -->


    <!-- SIDEBAR -->
    <div th:fragment = "sidebar" class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark text-center align-items-center h-100 py-5" style="width: 280px;">
        <span class="fs-1 text-info fw-bolder justify-content-center text-center mb-4">Dashboard</span>
        <img th:src="@{/images/loginIcon.png}" class="rounded-circle" alt="code" width="75" height="75">
        <h5 th:text="${user?.firstName} + ' ' + ${user?.lastName}" class="fs-5 text-danger fw-bolder justify-content-center text-center pt-3"/>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
<!--            UPDATE PROFILE-->
            <li class="nav-item">
                <a th:href="@{users/update}" class="nav-link text-primary fw-bolder">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                    Update Profile
                </a>
            </li>

<!--            VIEW PROFILE-->
            <li>
                <a href="#" class="nav-link text-primary fw-bolder">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                    View Profile
                </a>
            </li>

            <li>
                <a th:href="@{/projects/new}" class="nav-link text-danger fw-bolder">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                    Create a New Project
                </a>
            </li>

            <li>
                <a href="#" class="nav-link text-white fw-bolder">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                    Open Projects(3)
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white fw-bolder">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                    New Projects(2)
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white fw-bolder">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                    Archived Projects(5)
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white fw-bolder">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                    View All Projects(8)
                </a>
            </li>
            <hr>
            <li>
                <a th:href="@{/logout}" class="nav-link text-danger fw-bolder pt-3">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                    Sign Out
                </a>
            </li>
        </ul>
        <hr>
    </div>
</div>
<!-- SIDEBAR -->

<table th:fragment = "userTable" class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.firstName}"/>
        <td th:text="${user.lastName}"/>
    </tr>

    </tbody>

</table>

<table th:fragment = "studentProjectTable" class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Project Count</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="userProjectCount : ${userProjectCounts}">
        <td th:text="${userProjectCount.firstName}"/>
        <td th:text="${userProjectCount.lastName}"/>
        <td th:text="${userProjectCount.projectCount}"/>
    </tr>

    </tbody>

</table>

<table th:fragment = "projectTable" class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Project Name</th>
        <th>Project State</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${projects}">
        <td th:text="${project.name}"/>
        <td th:text="${project.state}"/>
    </tr>

    </tbody>

</table>


<!--<table th:fragment = "projectStatusCount" class="table table-bordered table-striped">-->
<!--    <thead class="thead-dark">-->
<!--    <tr>-->
<!--        <th>State</th>-->
<!--        <th>Count</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="proStatusCount : ${projectsStatuses}">-->
<!--        <td th:text="${proStatusCount.state}"/>-->
<!--        <td th:text="${proStatusCount.projectStatusCount}"/>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->



</html>