<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dev2gether - Index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!--    <link rel="stylesheet" th:href="@{css/formatting.css}"/>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
</head>
<body  th:style="'background: url(/images/blueline.png); height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;'">

<header th:replace="layouts:: header"></header>
<nav th:replace="layouts:: nav"></nav>



    <div class="row">
        <div class="col-3">
            <div sec:authorize="isAuthenticated()" th:replace="layouts:: sidebar"/>
        </div>

        <div class="col-7">
            <h1 class="text-center display-3 mt-4 mb-5">Projects Directory</h1>


<!--            <a th:href="@{/projects/new}" class="btn btn-primary btn-sm mb-3">Save New Project</a>-->
<!--            <table class="table table-bordered table-striped">-->
<!--                <thead class="thead-dark">-->
<!--                <tr>-->
<!--                    <th>Project Name</th>-->
<!--                    <th>Project Stage</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr th:each="project : ${projects}">-->
<!--                    <td th:text="${project.name}"/>-->
<!--                    <td th:text="${project.stage}"/>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->

            <div  th:each="project : ${projects}" class="card mb-4">
                <div class="card-header d-block">
                    <div class="col-9" th:text="'Posted by ' + ${project.projectOwner.firstName}"></div>
                    <div class="col-3 text-end" th:text="${#temporals.format(project.createdTimestamp, 'dd/MM/yyyy')}"></div>
                </div>
                <div class="card-body">
                    <h5 class="card-title" th:text="${project.name}"></h5>
                    <p class="card-text" th:text="${project.description}"></p>
                    <a th:href="@{/projects/10/1}" class="btn btn-info">View</a>
                </div>
            </div>

        </div>


    </div>







</body>
</html>