<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


  <title th:text="'Dev2gether - ' + ${project.name}"></title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}">

  <script src="/js/product-page.js"></script>

  <!--icons-->

  <link rel="stylesheet" href="/css/project-page.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>

  <header th:replace="layouts:: header"></header>
  <nav th:replace="layouts:: nav"></nav>
  <div class="fluid-container row" id="backgroundDash">


<!--  <main>-->

    <div class="row">
      <div class="col-3 d-block">
        <div sec:authorize="isAuthenticated()" th:replace="layouts:: sidebar"/>
      </div>

      <div class="col-7 d-block">




    <section class=" mt-4 row mb-5">
      <h1 th:text="${project.name}" class="text-center display-3 mb-3 fw-bold"></h1>
      <div class="badge rounded-pill bg-danger text-center mb-4 py-2" th:text="${project.state}"></div>
      <div class="col-9">

        <h5 class="display-6">Description</h5>
        <p th:text="${project.description}"></p>
        <section class="row my-5">
          <div class="col-6 border-start border-2 ps-3 py-2">
            <h5 class="display-7">Languages</h5>
            <ul>
              <li th:each="language : ${project.languages}" th:text="${language.name}"></li>
            </ul>
          </div>
          <div class="col-6 border-start border-2 ps-3 py-2">
            <h5 class="display-7">Frameworks</h5>
          </div>
        </section>
        <h5 class="display-6">Repository</h5>

      </div>
      <div class="col-3">
        <section class="row mt-2 mb-4">
          <h5 class="display-7">Project Owner</h5>
          <p class="lead"><a th:href="@{'/users/' + ${project.projectOwner.id}}" th:text="${project.projectOwner.firstName} + ' ' + ${project.projectOwner.lastName}" style="text-decoration: none"></a></p>
        </section>
        <section class="row mb-4">
          <h5 class="display-7">Contributors</h5>
          <ul>
            <li th:each="contributor : ${project.contributors}"><a th:href="@{'/users/' + ${contributor.id}}" th:text="${contributor.firstName} + ' ' + ${contributor.lastName}" style="text-decoration: none"></a></li>
            <!--              <li>HTML</li>-->
            <!--              <li>CSS</li>-->
          </ul>
        </section>
        <section class="row">
          <h5 class="display-7">Last Modified</h5>
          <p th:text="${#temporals.format(project.modifiedTimestamp, 'dd/MM/yyyy')} + ' at ' + ${#temporals.format(project.modifiedTimestamp, 'HH:mm')}"></p>
        </section>
      </div>

    </section>






    <section class="border border-secondary row rounded bg-light py-4">
        <p th:if="${user != null}" class="offset-1 lead">
          Comment as
          <a th:href="@{/dashboard} " th:text="${user?.firstName} + ' ' + ${user?.lastName}" class="link-primary" style="text-decoration: none"></a>
        </p>
        <p th:unless="${user != null}" class="offset-1 lead">Please <a href="/login" class="link-primary">sign in</a> in to comment.</p>
        <form th:action="@{/projects/__${projectId}__}" method="post" th:object="${comment}" id="comment">
          <div class="form-group row offset-1 mb-2">
            <textarea name="comment" th:disabled="${user == null}" th:field="${comment.content}" rows="3" class="col-11" form="comment" placeholder="Add a comment..." required></textarea>
          </div>
          <div class="form-group row mt-3">
            <!--    <input type="text" placeholder="Leave a comment" th:field="${comment.content}">-->
            <button type="submit" th:disabled="${user == null}" class="btn btn-primary offset-9 col-2">Comment</button>
          </div>
        </form>
    </section>

    <section class="row">
      <div class="col-12">
        <table class="table mt-3" style="width:100%">
          <thead>
            <tr>
              <th scope="col" colspan="4" th:text="${comments.size()} + ' Comments'"></th>
              <th>
                <div class="dropdown text-end">
                  <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Sort By
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" th:href="@{/projects/__${projectId}__/comments/most-liked}">Most liked</a></li>
                    <li><a class="dropdown-item" th:href="@{/projects/__${projectId}__}">Newest</a></li>
                    <li><a class="dropdown-item" th:href="@{/projects/__${projectId}__/comments/oldest}">Oldest</a></li>
                  </ul>
                </div>
              </th>
            </tr>
          </thead>
          <tbody id="comments">
            <tr th:if="${comments != null}" th:each="comment : ${comments}" style="height:90px">
<!--              <td class="text-center align-middle" style="width:5%"><i class="bi bi-hand-thumbs-up"></i></td>-->

              <td class="text-center align-middle" style="width:5%">
                <form th:action="@{/projects/__${projectId}__/commentUpvote/store}" method="post" th:object="${commentUpvote}" id="commentUpvote">
                  <input type="hidden" id="commentId" name="commentId" th:value="${comment.id}"/>
                  <input type="hidden" id="userId" name="userId" th:value="${user?.id}"/>
                  <button class="btn" th:disabled="${user == null}">
                    <i th:if="${upvotedComments?.contains(comment.id)}" class="bi bi-hand-thumbs-up-fill w-100"></i>
                    <i th:unless="${upvotedComments?.contains(comment.id)}" class="bi bi-hand-thumbs-up w-100"></i>
                  </button>
                  <div th:text="${comment.numOfUpvotes == 0} ? '' : ${comment.numOfUpvotes}"></div>
                </form>
              </td>

              <td class="text-center align-middle" style="width:10%"><a th:href="@{'/users/' + ${comment.user.id}}" th:text="${comment.user.firstName} + ' ' + ${comment.user.lastName}" style="text-decoration: none"></a>
              </td>
              <td id="comment-box" class="align-middle" th:text="${comment.content}" style="width:65%"></td>
              <td class="text-center align-middle" style="width:10%">
                <small th:text="${#temporals.format(comment.createdTimestamp, 'dd/MM/yyyy')} + ' at ' + ${#temporals.format(comment.createdTimestamp, 'HH:mm')}"></small>
              </td>
              <td style="width:10%" class="text-center align-middle">
                <a th:if="${comment.user.id == user?.id}" id="edit" class="btn btn-secondary btn-sm col-12 mb-1">Edit</a>
                <a th:if="${comment.user.id == user?.id}" id="delete" th:href="@{'/comments/delete/' + ${comment.id} + '/' + ${project.id}}" class="btn btn-danger btn-sm col-12">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
      </div>

<!--  </main>-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<!--  <script-->
<!--          src="https://code.jquery.com/jquery-3.6.0.min.js"-->
<!--          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="-->
<!--          crossorigin="anonymous"></script>-->
</body>
</html>